.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    padding: 1em;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1.5em 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
}

.card__botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botoes {
    display: flex;
    align-items: center;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 1.125em;
    font-weight: 700;
    margin: 0.825em 0;
}

.descricao__texto {
    font-size: .875em;
    margin-bottom: .5em;
}

.botoes__item {
    margin: 0 .5em;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

.descricao__imagem {
    margin-bottom: 1em;
}

.estrelinhas {
    margin-bottom: .5em;
}

.descricao {
    margin-right: .2em;
}

@media screen and (min-width: 820px) {
    .carrossel__titulo {
        font-size: 1.675em;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 70%;
        margin: auto;
    }

    .swiper-button-prev,
    .swiper-button-next {
    display: block;
    }   

    .card {
        width: 50%;
        margin: 3em auto;
    }
}

@media screen and (min-width: 1260px) {
    .carrossel__container {
        display: flex;
        margin: 0 10vw 3em 10vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 90%;
    }

    .card {
        margin: 2em 0  0 2em;
    }

    .descricao__titulo {
        font-size: 1.25em;
    }

    .descricao__texto {
        font-size: 1em;
        margin-right: 1.5em;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 90%;
    }

    .card {
        margin: 2em 0  0 2em;
    }

    .descricao__titulo {
        font-size: 1.625em;
    }

    .descricao__texto {
        font-size: 1em;
        margin-right: 2em;
    }
}