.contato {
    background-color: var(--branco);
    padding: 1.5em;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 1.25em;
    font-weight: 500;
}

.contato__texto {
    font-size: 1em;
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid var(--azul);
    border-radius: 24px;
    color: var(--azul);
    padding: 1em;
    width: 100%;
}

.contato__email::placeholder {
    font-family: var(--font-principal);
    color: var(--azul);
    background: url("../img/email.svg") no-repeat;
    padding-left: 2em;   
}

@media screen and (min-width: 820px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .contato__texto {
        margin-bottom: 0;
    }

    .contato__email {
        width: 30%;
    }

    .contato__descricao {
        width: 35%;
    }
    
    .botoes__ancora:hover {
        transform: scale(1.05);
        transition: 1.2s;
       }
}


@media screen and (min-width: 1366px) {
    .contato {
        padding: 3em 10vw;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 20vw;
    }
}