.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-gradiente);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista__menu {
    display: block;
}
/* O acento ~ é um combinador no css, ele busca no elemento 
que vem em seguida */

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item {
    text-transform: uppercase;
}

.lista-menu__link {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 820px) {
   .container__titulo {
    display: block;
    font-family: var(--font-secondary);
    font-size: 1.875em;
    font-weight: 400;
   }

   .container__titulo--negrito {
    font-weight: 700;
   }

   .opcoes {
    display: flex;
    color: var(--black);
   }

   .opcoes__item {
    padding: 0 1em;
    text-transform: uppercase;
   }

   .opcoes__link {
    text-decoration: none;
    color: var(--black);
   }

   .container__imagem--coracao {
    display: none;
   }

   .cabecalho__menu-hamburguer {
    display: none;
   }

   .opcoes__botao:checked~.lista__menu {
    display: block;
    width: auto;
   }

   .opcoes__botao {
    display: none;
}

    .opcoes__botao:checked ~.opcoes__rotulo > .opcoes__item {
        background: var(--azul-gradiente);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-gradiente);
    }

    .lista-menu__link:hover {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1366px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--black);
        font-size: 1.25em;
    }

    .cabecalho {
        padding: 0 5em;
    }

    .opcoes {
        margin: 0 auto 0 3em;
    }

    .container__texto {
        display: block;
    }

}